body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

body a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}